.container {
  margin: 30px auto;
}
.weathercontainer {
  max-width: 80%;
  border: solid black 1px;
  box-shadow: 2px 2px 2px grey;
  border-radius: 10px;
  margin: 40px 60px;
}

h1 {
  color: blue;
}
.icon {
  max-width: 35px;
  max-height: 35px;
}
#currentIcon {
  max-width: 35px;
  max-height: 35px;
}
