.container {
  margin: 30px auto;
}
.weathercontainer {
  max-width: 70%;
  border: solid black 1px;
  box-shadow: 2px 2px 2px grey;
  border-radius: 10px;
  margin: 40px 60px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.greeting {
  margin: 40px 60px 40px 80px;
  text-align: center;
}
.search {
  margin: 40px 60px 40px 80px;
  text-align: center;
}
#buttonSearch {
  padding: 5px 40px;
  background-color: black;
  border-color: black;
}
.currentWeather {
  margin: 40px 60px 40px 80px;
}
.forecast {
  margin: 40px 60px 40px 80px;
}
footer {
  margin: 40px 60px 40px 80px;
}
.currentCity {
  font-weight: bold;
  font-size: 45px;
}

.currentDescription {
  font-size: 18px;
}
.currentTemp {
  font-weight: bold;
  font-size: 75px;
  margin: 10px 20px 10px 40px;
}
.units {
  font-size: 25px;
  position: relative;
  top: -33px;
}

.icon {
  max-width: 35px;
  max-height: 35px;
}
#currentIcon {
  max-width: 100px;
  max-height: 100px;
}
#forecastIcon {
  max-width: 35px;
  max-height: 35px;
}
